<h3>My Link Farm</h3>

<table>
	<tr>
    <th>Link</th>
    <th>Comment</th>
  </tr>

  <% @links.each do |link| %>
  <tr>
    <% url = link.url %>
  	<td><%= link_to link.url, link.url %></td><td><%= link.http_response %></td>
  </tr>
  <% end %>
</table>